body {
    background-color: rgb(22, 22, 22);
}
.container {
    width: 1200px;
    margin: auto;
    
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(88, 88, 88);
    border-radius: 6px;
}

.logo {
    width: 150px;
    height: 50px;
}

a, ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: aliceblue;
    padding: 25px;

}

.one {
    background-color: rgb(88, 88, 88); 
    width: 150px;
    height: 250px;
    display: flex;
    margin-top: 25px;
    border-radius: 6px;
    align-items: center;  
    justify-content: center;
}


.two {
    background-color: rgb(88, 88, 88); 
    width: 150px;
    height: 250px;
    margin-top: 25px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content:center;
}

ul {
    text-align: center;
    padding-top: 10px;
}

.white {
    width: 120px;
    height: 180px;
    background-color: aliceblue;
    border-radius: 6px;
    
}
article { 
    width: 1000px;
    margin-left: auto;
  }
.main {
    display: flex;
}

.top {
    height: 400px;
    margin-top: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 6px;
    background-color: rgb(88, 88, 88);
}
.middle {
    background-color: rgb(88, 88, 88);
    margin-top: 20px;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: auto;

}
.card0{
    background-color: aliceblue;
    width: 2000px;
    height: 300px;
    margin: 30px;
    border-radius: 6px;    
}
p{
  color: aliceblue;
  font-size: 20px;
  padding: 30px;
}
.card{
  background-color: aliceblue;
  width: 150px;
  height: 150px;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.bottom {
    background-color:rgb(88, 88, 88);
    margin-top: 30px;
    border-radius: 6px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
}
.aa{
    flex-direction: column;
}
.card1 {
  background-color: aliceblue;
  width: 150px;
  height: 80px;
  border-radius: 7px;
  margin-top: 20px;
  margin-bottom: 20px;
}
